.userwrap {
    margin-top: 5rem;
    text-align: center;
    width: 100%;
  }
  
  .user {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #585280;
  }
  
  .profileImg {
    align-items: center;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }