.count {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #585280;
    color: #FFF;
    font-size: 1rem;
    margin-left: 1rem;
    text-align: center;
    padding-top: 0.2rem;
}