@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #FFF;
  color: #585280;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  margin-top: 0.5rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #F8F8F8;
}

table tr th {
  background-color: rgba(150, 150, 150, 0.3);
  text-align: center;
}

table tr td {
  text-align: center;
}

table thead tr th {
  padding: 0.8rem 0;
  border-right: 1px solid rgba(240, 240, 240, 0.3);
  font-weight: 400;
  font-size: 0.9rem;
}

table tbody tr td {
  padding: 1rem 0;
  font-weight: 300;
}

table tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

table tbody tr:hover {
  background-color: rgba(150, 150, 150, 0.2);
  cursor: pointer;
  -webkit-transition: all ease-in-out 80ms;
  transition: all ease-in-out 80ms;
}

table tfoot tr td {
  padding: 0.8rem 0;
}

.pagenation {
  margin: 2rem;
}

.pagenation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0.2rem;
}

.pagenation ul li {
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 0.9rem;
  border-right: 1px solid #ADADAD;
  border-top: 1px solid #ADADAD;
  border-bottom: 1px solid #ADADAD;
  width: 2.4rem;
  height: 2.4rem;
  padding-top: 0.4rem;
  text-align: center;
  cursor: pointer;
}

.pagenation ul li:hover {
  background-color: rgba(150, 150, 150, 0.3);
}

.pagenation ul li:first-child {
  border-left: 1px solid #ADADAD;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagenation ul li:last-child {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.pagenation ul li.active {
  background-color: rgba(200, 200, 200, 0.4);
}

.container {
  width: auto;
  margin-left: 16rem;
  position: relative;
  padding: 0 4rem;
}

.container .inputGroup ul {
  list-style: none;
  font-weight: 300;
  font-size: 0.8rem;
}

.container .inputGroup ul li {
  display: inline-block;
}

.container .inputGroup ul li div {
  margin-top: 1rem;
}

.container .inputGroup ul li div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F8F8;
  border: 1px solid rgba(150, 150, 150, 0.4);
  border-bottom: 0;
  padding: 0.2rem 1rem;
}

.container .inputGroup ul li div input[type=text], .container .inputGroup ul li div input[type=date] {
  border: 1px solid rgba(150, 150, 150, 0.4);
  height: 1.8rem;
  width: 12rem;
  padding-left: 0.8rem;
  font-size: 0.7rem;
  color: #585280;
}

.container .inputGroup ul li div input[type=text]:focus, .container .inputGroup ul li div input[type=date]:focus {
  outline: none;
  border: 1px solid #969696;
  color: #585280;
}

.container .inputGroup ul li div input[type=text]::-webkit-input-placeholder, .container .inputGroup ul li div input[type=date]::-webkit-input-placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=text]:-ms-input-placeholder, .container .inputGroup ul li div input[type=date]:-ms-input-placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=text]::-ms-input-placeholder, .container .inputGroup ul li div input[type=date]::-ms-input-placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=text]::placeholder, .container .inputGroup ul li div input[type=date]::placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=textarea] {
  width: 24rem;
  height: 1.8rem;
  padding-left: 0.8rem;
  border: 1px solid rgba(150, 150, 150, 0.4);
  color: #585280;
}

.container .inputGroup ul li div input[type=textarea]::-webkit-input-placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=textarea]:-ms-input-placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=textarea]::-ms-input-placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=textarea]::placeholder {
  color: #ADADAD;
  font-size: 0.6rem;
}

.container .inputGroup ul li div input[type=checkbox] {
  position: relative;
  top: 0.1px;
  width: 12rem;
  height: 1.2rem;
}

.container .inputGroup ul li div input[type=checkbox]::before {
  content: '';
  position: absolute;
  width: 12rem;
  height: 1.8rem;
  border: 1px solid rgba(150, 150, 150, 0.4);
}
/*# sourceMappingURL=globals.css.map */